body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("utils/dance-floor.jpeg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.makeMichaelDancer {
  border: 5px solid black;
  border-radius: 5px;
  height: 90px;
  width: 100px;
  transition: left 2s;
}

.makeMichaelDancer img {
  height: 100%;
  width: 100%;
}

.makeJustinDancer {
  border: 5px solid blue;
  border-radius: 5px;
  height: 90px;
  width: 100px;
  transition: left 2s;
}

.makeJustinDancer img {
  height: 100%;
  width: 100%;
}

.rotate {
  animation: rotation 200ms 1 linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.makeBrittanyDancer {
  border: 5px solid white;
  border-radius: 5px;
  height: 90px;
  width: 100px;
  transition: left 2s, top 2s;
}

.makeBrittanyDancer img {
  height: 100%;
  width: 100%;
}

.makeShakiraDancer {
  border: 5px solid gold;
  border-radius: 5px;
  height: 90px;
  width: 100px;
  animation: shake 0.7s;
  transition: ease 2s;
  animation-iteration-count: infinite;
}

.makeShakiraDancer img {
  height: 100%;
  width: 100%;
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}